.ac-container {
    display: inline-flex;
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    // width: 100%;
    background-color: #fff;
    
    input {
        z-index: 3;
    }


    #ac-querySuggestion {
        position: absolute !important;
        opacity: 0.5 !important;
        pointer-events: none !important;
        border-color: transparent !important;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: none !important;
        }
    }

    #ac-list {
        position: absolute;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        padding: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0;
        top: 100%;
        left: 0;
        list-style: none;
        box-sizing: border-box;
        z-index: 10;
        text-align: left;

        li {
            list-style-type: none;
            line-height: 1.5;
            padding: 1px;
            padding-left: 5px;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            cursor: pointer;

            &:before {
                content: none;
            }

            &:last-child {
                border-bottom: 1px solid #e6e6e6;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

            }

            &:hover {
                background-color: #e6e6e655;
            }

            .ac-highlight {
                font-weight: bold;
            }
        }
    }
}