.ac-container {
    display: inline-flex;
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    background-color: #fff;
    
    input {
        z-index: 3;
        background-color: transparent;
    }

    // &:before {
    //     content: attr(data-before);
    //     display: inline-flex;
    //     align-items: center;
    //     position: absolute;
    //     color: grey;
    //     font: 400 11px system-ui;
    //     font-size: inherit;
    //     bottom: 0;
    //     height: 100%;
    //     width: 100%;
    //     padding-left: inherit;
    //     box-sizing: border-box;
    //     overflow: hidden;
    //     z-index: 1;
    //     pointer-events: none;

    //     @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
    //         content: none;
    //     }
    // }

    pre {
        display: inline-flex;
        align-items: center;
        position: absolute;
        color: grey;
        font: 400 11px system-ui;
        bottom: 0;
        height: 100%;
        width: 100%;
        padding:0;
        margin:0;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 1;
        pointer-events: none;
    }

    #ac-list {
        position: absolute;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        padding: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0;
        top: 100%;
        left: 0;
        list-style: none;
        box-sizing: border-box;
        z-index: 10;

        li {
            list-style-type: none;
            line-height: 1.5;
            padding: 1px;
            padding-left: 5px;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            cursor: pointer;

            &:before {
                content: none;
            }

            &:last-child {
                border-bottom: 1px solid #e6e6e6;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

            }

            &:hover {
                background-color: #e6e6e655;
            }

            .ac-highlight {
                font-weight: bold;
            }
        }
    }
}